html, body {
  margin: 20px;
  font: menu;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a.active {
  color: #8CD600;
}

.dashboard {
  display: flex;
  justify-content: center;
}

.gauge-holder {
  width: 300px;
  height: 300px;
}

.gauge-holder text {
  fill: #FFF;
}

.email {
  fill: #A0DB8E;
}

.facebook {
  fill: #5BBF21;
}

.google-plus {
  fill: #8CD600;
}

.linked-in {
  fill: #BAD80A;
}

.twitter {
  fill: #BAC405;
}
