<div class="container">
  <menu class="item">
    <h1>Examples</h1>
    <ul>
      <li>
        {{#link-to 'artists'}}Nested Resources{{/link-to}}
      </li>
      <li>
        {{#link-to 'nested-resource-diagram'}}Nested Resource Diagram{{/link-to}}
      </li>
      <li>
        {{#link-to 'dashboard'}}Multiple Data Sources Single Route{{/link-to}}
      </li>
      <li>
        {{#link-to 'multiple-data-sources-single-route-diagram'}}Multiple Data Sources Single Route Diagram{{/link-to}}
      </li>
    </ul>
  </menu>
  <div class="item examples">
    {{outlet}}
  </div>
</div>
